*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-image: url("../img/banners/bglog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.formLogin{
    margin: auto;
    width: 400px;
    min-height: 500px;
    border: 1px solid red;
    transition: .5s;
    margin: 10px;
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 15px black;
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.log {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}
.home a{
text-decoration: none;
color: white;
}

.reg {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    display: none;
    
}

.inputForm{
    margin: 10px;
    width: 90%;
}

.formSpan{
    text-align: left;
}
.user, .pword{
    width: 100%;
    height: 25px;
    text-align: center;
}



.log .btn, .reg .btn{
    width: 90%;
    height: 40px;
    margin: 15px 0;
    text-transform: uppercase;
    background-image: linear-gradient(to right, crimson, #f55);
    color: cornsilk;
    font-weight: 700;
    cursor: pointer;
    border-left: red 2px solid;
    border-top: red 2px solid;
    border-bottom: 2px crimson solid;
    border-right: 2px crimson solid;
    font-size: 1.3rem;
}

.log .btn:active, .reg .btn:active{
    border-left: crimson 2px solid;
    border-top: crimson 2px solid;
    border-bottom: 2px red solid;
    border-right: 2px red solid;

}

#btnLogin.disab{
    background-color: gray;
    background-image: none;
    color: #ddd;
    /* cursor: not-allowed; */
}

.socialMediaIcons{
    width: 90%;
    height: 40px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
    
    vertical-align: middle;
}

.faceIcon, .instaIcon{
    color: white;
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    padding-right: 10px;
    cursor: pointer;    
}

.faceIcon img, .instaIcon img{
    height: 100%;
}

.faceIcon{
    background-color: rgb(68, 68, 255);
}
.instaIcon{
    background-color: rgb(236, 75, 75);
}

.regSpan, .entrarSpan{
    color: white; 
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
    color: rgb(118, 118, 255);
    cursor: pointer;
    padding-bottom: 15px;
}

.regSpan:active, .entrarSpan:active{
    color: rgb(68, 68, 205);
}

.forgetPw:hover{
    cursor: pointer;
    color: rgb(68, 68, 205);
    font-weight: 700;
}