@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    font-family: 'Varela Round', sans-serif;
}

main, .containerInicial, .containerSecundario{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    transition: all .3s;
}

.containerSecundario{
    transform: translateX(30px);
    opacity: 0;
    visibility: hidden;
    display: none;
}

.sumir{
    transform: translateX(-30px);
    opacity: 0;
    visibility: hidden;
}

.aparecer{
    display: flex;
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

.iconeHome, .textHome{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textHome{
    width: 65%;
    align-items: flex-start;
}
.textHome p{
    font-size: .7rem;
    margin-top: 5px;
}

.card{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    transition: all .3s;
    cursor: pointer;
    box-shadow: #999 0px 0px 8px;
    background-image: linear-gradient(to right bottom, #bbb, #555);
}

.card:hover{
    box-shadow: #999 0px 0px 15px, inset #bbb 2px 4px 10px;
}

.minorCard{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 60px;
    font-size: 1.1rem;
    font-weight: 700;

}
.cardDetails{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all .3s;
}

.detailsRow{
    width: 100%;
    height: 60px;
    display: flex;
    font-size: .9rem;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
}

input{
    text-align: center;
    width: 80%;
    border-radius: 5px;
    -moz-appearance: textfield;

    color: #000;
    font-weight: 700;
    margin: 5px;
    font-size: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:disabled{
    background-color: transparent;
    border: none;
}

.detailsBtns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    font-size: 1.2rem;
    transition: all .3s;
}

.detailsBtns i {
    cursor: pointer;
    font-size: 1.3rem;
}