@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --corUm: #6b4b3e;
    --corDois: #496f5d;
    --corTres: #4c9f70;
    --corQuatro: #e2aedd;
    --corCinco: #ebcbf4;

    --DoisPrimeiro: #2e0e02 ;
    --DoisSegundo: #581908;
    --DoisTerceiro: #983628;
    --DoisQuarto: #e2aedd;
    --DoisQuinto: #ebcbf4;

    --TresPrimeiro: #6b4b3e;
    --TresSegundo: #18206f;
    --TresTerceiro: #17255a;
    --TresQuarto: #e2aedd;
    --TresQuinto: #ebcbf4;

    --QuatroPrimeiro: #6b4b3e;
    --QuatroSegundo: #087e8b;
    --QuatroTerceiro: #07004d;
    --QuatroQuarto: #e2aedd;
    --QuatroQuinto: #8d6501;

    

}


.cores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 40px;
    left: 0px;
    z-index: 5;
    height: 300px;
    width: 70px;
    font-size: .8rem;
    /* border: 1px solid red; */
    color: #fff;

}
.color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cores input{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #000;
}

html{
    scroll-behavior: smooth;
}

body{
    /* background-color:  rgb(215,189,214); */
    /* background-color:  rgb(247,233,222); */
    /* color: rgb(102,51,152); */
    color: var(--corUm);
    background-color: var(--corCinco);


    /* color: rgb(105, 49, 32); */
    font-family: 'Cinzel', serif;
}

[data-anime] {
    opacity: 0;
    transition: all .3s;
}

[data-anime='left']{
transform: translate3d(-50px, 0, 0)
}

[data-anime='right']{
    transform: translate3d(50px, 0, 0)
}

[data-anime='up']{
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.listContainer{
    /* background-color:  rgb(247,233,222); */
    background-color: var(--corCinco);
    position: sticky;
    top: 0;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    z-index: 2;
    /* box-shadow: #000 0 0 5px; */
}

.secUmList{
    margin: auto auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.esquemasCores{
    width: 40px;
    /* position: absolute;
    top: 50px;
    left: 50px; */
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
  cursor: pointer;
}

h1{
    font-size: 2.5rem;
}

a{
    text-decoration: none;
    /* color: rgb(105, 49, 32); */
    color: var(--corUm);
}

.secUm{
    min-height: 97vh;
    padding: 0 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-image: url(img/grisha.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* .secUm img{
    height: 700px;
    filter: drop-shadow(18px 18px 38px rgb(50, 36, 133));
} */

.secUmTextos{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    /* text-align: center; */
}

.secUmTextos > p{
    margin: 20px 0;
}

.homeImg{
    display: none;
    filter: drop-shadow(-10px -10px 20px var(--corUm));

}

.secDois{
    height: 700px;
    background-color: var(--corUm);
    /* color: rgb(247,233,222); */

    /* color: rgb(224, 175, 196); */

    color: var(--corCinco);

    display: flex;
    min-height: 100vh;
    /* background-image: url(img/textura4.jpg); */
    background-repeat: no-repeat;
    background-size: cover;

}

.secDoisLeft{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 100px;
}
.secDoisLeftContainer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.secDoisLeftContainer > *{
    margin-bottom: 15px;

}


.btnLink{
    cursor: pointer;
    padding: 5px 10px;
    /* background-image: linear-gradient(to bottom right, rgb(194, 62, 62), rgb(90, 24, 24)); */
    /* background-image: linear-gradient(to bottom right,  rgb(124, 3, 248),  rgb(50, 36, 134)); */
    /* background-image: linear-gradient(to bottom right,  rgb(255, 249, 249), rgb(138,120,118)); */
    background-image: linear-gradient(to bottom right, var(--corDois), var(--corTres));
    color: var(--corCinco);

    
    border-radius: 5px;
    font-weight: 700;
    box-shadow: var(--corDois) 0 0 10px 2px;
    /* color: rgb(247,233,222); */
    /* color: rgb(102, 51, 152); */
}

.secDoisRight{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsContainer{
    margin: 0 10px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.imgsContainer img{
    width: 30%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgb(63, 30, 20) 0 0 10px 2px;
}

.secDoisImg1{
    height: 325px;
}
.secDoisImg2{
    height: 375px;
}
.secDoisImg3{
    height: 350px;
}

.secTres{
    min-height: 100vh;
    display: flex;
}
.secTresLeft{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.secTresLeft img{
    border-radius: 5px;
    width: 50%;
    height: 350px;
    object-fit: cover;
}

.secTresRight{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

.secTresTextos{
    height: 350px;
}

.secTresTextos > *{
    margin-bottom: 20px;
}

.vetorLinhas{
    width: 200px;
}

.secQuatro{
    min-height: 100vh;
    background-image: url(img/grisha7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.mask{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: var(--corUm);
    opacity: .4;
    /* background-color: rgb(50, 36, 134, .5); */

    z-index: 0;
}

.secQuatroTextos{
    width: 70%;
    /* color:  rgb(247,233,222); */
    color: var(--corCinco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secQuatroTextos > *{
    z-index: 1;
    margin-bottom: 15px;
}

.secCinco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    color: var(--corCinco);
    background-color: var(--corUm);
    /* background-image: url(img/textura4.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.secCincoSelUm{
    color: var(--UmQuarto)
}

.secCinco h1{
    margin: 30px auto;
}

.secCincoFlexDirection{
    display: flex;
    flex-direction: row;
}

.secCincoLeft, .secCincoRight{
    display: flex;
    width: 30%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.secCincoMid{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secCincoImgPequena, .secCincoImgGrande{
    width: 80%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.secCinco p, .secCinco h2{
    margin: 15px;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.footerContUpper{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}

.footerContUpperLogo, .footerContUpperText{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContUpperText{
    width: 90%;
    font-size: 2rem;
    font-weight: 700;
}

.footerLogo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.footerContLower{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.footerLowerLeft, .footerLowerRight, .footerLowerMid{
    width: 30%;
    display: flex;
    justify-content: start;
    margin: 30px;
    flex-direction: column;
}

footer a, footer h3, footer p, footer i {
    text-decoration: none;
    /* color: rgb(105, 49, 32); */
    margin: 10px;
    color: var(--corUm);
}



@media only screen and (max-width: 1100px) {

    .listContainer{
        font-size: .8rem;
    }

    .secUmList{
        justify-content: space-between;
    }

    .secUm{
        display: flex;
        justify-content: center;
        flex-direction: column  ;
        background-position: 150% 100%;
        background-attachment: fixed;
        font-size: 1rem;
    }

    h1{
        font-size: 1.4rem;
    }

    .secUmTextos{
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .secTresLeft{
        background-image: url(img/grisha4.jpeg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
        width: 80%;
    }

    #secTresLeftImg{
        display: none;
    }

    .secQuatro{
        background-attachment: fixed;
    }

}


@media only screen and (max-width: 880px) {
    
    .listContainer{
        display: none;
    }
   
    .secUm{

        display: flex;
        justify-content: space-between;
        flex-direction: row  ;
        background-position: center;
        background-attachment: fixed;
        font-size: 1rem;
        padding: 0 30px;
        background-size: cover;
    }

    .secDois{
        /* color: rgb(247,233,222); */
        min-height: 80vh;
    }
    
    .secDoisLeft{
        width: 50%;
        padding: 0 30px 0 30px;
    }

    .secDoisRight{
        width: 50%;
    }
    
    .imgsContainer{
        height: 100%;
        align-items: center;
        flex-direction: column;
    }
    
    .imgsContainer img{
        height: 30%;
        width: 90%;
        object-position: top;
    }

    .imgsContainer img:nth-child(2){
        object-position: center;
    }
    
    .secTres{
        min-height: 80vh;
    }
    .secTresLeft{
        width: 65%;
    }
    
    .secTresRight{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        
    }
    
    .secTresTextos{
        height: 450px;
    }
    
    .vetorLinhas{
        display: none;
    }


    .secQuatro{
        min-height: 80vh;
    }
    
    .mask{
        height: 80vh;
    }
    
    .secQuatroTextos > *{
        z-index: 1;
        margin-bottom: 20px;
    }
    
    .secCincoFlexDirection{
        flex-direction: column;
    }
    
    .secCincoLeft, .secCincoRight, .secCincoMid{
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
        text-align: center;
    }
    
    .secCincoMid{
        flex-direction: column-reverse;
    }
    
    .secCincoImgPequena, .secCincoImgGrande{
        width: 65%;
        height: 300px;
        object-position: center;
    }
    .secCincoImgPequena:nth-child(2){
        object-position: top;
    }


    footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 20px;
    }
    
    .footerContUpper{
        height: 120px;
        padding: 10px;
    }
    
    .footerContUpperLogo, .footerContUpperText{
        width: 20%;
    }
    
    .footerContUpperText{
        width: 90%;
        font-size: 1.3rem;
    }
    
    .footerContLower{
        font-size: .9rem;
        font-weight: 700;
    }
    
    .footerLowerLeft, .footerLowerRight, .footerLowerMid{
        width: 33%;
        margin: 0;
    }
    
    footer a, footer h3, footer p, footer i {
        margin: 5px 0 5px 5px;
    }

}



@media only screen and (max-width: 650px){

    body{
        font-size: .9rem;
    }

    .secUm{
        background-image: none;
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        min-height: auto;
        overflow: hidden;

    }

    .homeImg{
        width: 290px;
        object-fit: contain;
        object-position: bottom;
        display: block;
        position: absolute;
        bottom: 0;
        right: -70px;
    }

    .secUmTextos{
        margin: 15px;
        font-size: .9rem;
        width: 50%;
    }

    .secDois{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 450px;
        min-height: unset;
    }

    .secDoisLeft{
        width: 80%;
        padding: 0;
        align-items: center;
        justify-content: center;
        height: unset;
    }

    .secDoisLeftContainer{
        width: 100%;
    }

    .secDoisRight{
        flex-direction: row;
        width: 100%;
        height: 35%;
    }

    .imgsContainer{
        flex-direction: row;
    }

    .imgsContainer img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .secTres{
        min-height: unset;
    }

    .secTresLeft{
        background-image: none;
    }

    #secTresLeftImg{
        display: block;
        object-position: right;
        width: 90%;
        box-shadow: rgb(63, 30, 20) 0 0 3px 1px;
    }

    .secQuatroTextos{
        width: 90%;
    }

    .secCincoImgGrande, .secCincoImgPequena{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
   
    .footerContUpper{
        flex-direction: column;
        height: 200px;
    }

    .footerContUpperText{
        font-size: 1rem;
        width: 70%;
        text-align: center;
    }

    .footerContUpperLogo{
        width: 30%;
    }

    .footerLogo{
        box-shadow: var(--corUm) 0 0 10px 1px;
    }

    .footerContLower{
        flex-direction: column;
    }

    .footerLowerLeft, .footerLowerRight, .footerLowerMid{
        width: 100%;
        margin-bottom: 40px;
        align-items: center;
    }

}



/* @media only screen and (max-width: 390px) */
