@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:  rgb(247,233,222);
    color: rgb(105, 49, 32);
    font-family: 'Cinzel', serif;
}

[data-anime] {
    opacity: 0;
    transition: all .3s;
}

[data-anime='left']{
transform: translate3d(-50px, 0, 0)
}

[data-anime='right']{
    transform: translate3d(50px, 0, 0)
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.listContainer{
    background-color:  rgb(247,233,222);
    position: sticky;
    top: 0;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    z-index: 2;
    /* box-shadow: #000 0 0 5px; */
}

.secUmList{
    margin: auto auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
  cursor: pointer;
}

h1{
    font-size: 2.5rem;
}

a{
    text-decoration: none;
    color: rgb(105, 49, 32);
}

.secUm{
    min-height: 97vh;
    padding: 0 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-image: url(img/grisha.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.secUmTextos{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    /* text-align: center; */
}

.secUmTextos > p{
    margin: 20px 0;
}

.secDois{
    height: 700px;
    background-color: rgb(105, 49, 32);
    color: rgb(247,233,222);
    display: flex;
    min-height: 100vh;
    background-image: url(img/textura4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.secDoisLeft{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 100px;
}
.secDoisLeftContainer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.secDoisLeftContainer > *{
    margin-bottom: 15px;
}

.btnLink{
    cursor: pointer;
    padding: 5px 10px;
    background-image: linear-gradient(to bottom right, rgb(194, 62, 62), rgb(90, 24, 24));
    border-radius: 5px;
    font-weight: 700;
    box-shadow: rgb(63, 30, 20) 0 0 10px 2px;
    color: rgb(247,233,222);
}

.secDoisRight{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsContainer{
    margin: 0 10px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.imgsContainer img{
    width: 30%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgb(63, 30, 20) 0 0 10px 2px;
}

.secDoisImg1{
    height: 325px;
}
.secDoisImg2{
    height: 375px;
}
.secDoisImg3{
    height: 350px;
}

.secTres{
    min-height: 100vh;
    display: flex;
}
.secTresLeft{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.secTresLeft img{
    border-radius: 5px;
    width: 50%;
    height: 350px;
    object-fit: cover;
}

.secTresRight{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

.secTresTextos{
    height: 350px;
}

.secTresTextos > *{
    margin-bottom: 20px;
}

.vetorLinhas{
    width: 200px;
}

.secQuatro{
    min-height: 100vh;
    background-image: url(img/grisha7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgb(105, 49, 32, .5);
    z-index: 0;
}

.secQuatroTextos{
    width: 70%;
    color:  rgb(247,233,222);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secQuatroTextos > *{
    z-index: 1;
    margin-bottom: 15px;
}

.secCinco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(105, 49, 32);
    color: rgb(247,233,222);
    background-image: url(img/textura4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.secCinco h1{
    margin: 30px auto;
}

.secCincoFlexDirection{
    display: flex;
    flex-direction: row;
}

.secCincoLeft, .secCincoRight{
    display: flex;
    width: 30%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.secCincoMid{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secCincoImgPequena, .secCincoImgGrande{
    width: 80%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.secCinco p, .secCinco h2{
    margin: 15px;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footerContUpper{
    display: flex;
    justify-content: space-between;
    padding: 30px 45px;
    align-items: center;
}

.footerLogo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.footerContLower{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.footerLowerLeft, .footerLowerRight, .footerLowerMid{
    width: 30%;
    display: flex;
    justify-content: start;
    margin: 30px;
    flex-direction: column;
}

footer a, footer h3, footer p, footer i {
    text-decoration: none;
    color: rgb(105, 49, 32);
    margin: 10px;
}



@media only screen and (max-width: 1100px) {

    .listContainer{
        font-size: .8rem;
    }
    .secUmList{
        justify-content: space-between;
    }

    .secUm{

        display: flex;
        justify-content: center;
        flex-direction: column  ;
        background-position: 100% 100%;
        background-attachment: fixed;
        font-size: 1rem;
    }

    h1{
        font-size: 1.4rem;
    }

    .secUmTextos{
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .secTresLeft{
        background-image: url(img/grisha4.jpeg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;

        width: 80%;
    }

    #secTresLeftImg{
        display: none;
    }

    .secQuatro{
            background-attachment: fixed;

    }

    
}