@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    max-width: 320px;
    margin: 0 auto;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #1d1d1d;
    font-family: 'Open Sans', sans-serif;
    max-width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}



.invisible, #addRegPrestUndo{
    display: none;
}

#addRegPrestUndo{
    opacity: 0;
    transition: all .5s ease-in-out;
}

#addRegPrestNew{
    transition: all .5s ease-in-out;
}

header, footer{
    width: 100vw;
    height: 50px;
    background-color: #00003d;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #eee;
    font-size: 1rem;
    box-shadow: #002 0 3px 3px 2px;
    position: static;
    top: 0;
    left: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer{
    box-shadow: #002 0 -3px 3px 2px;
    position: fixed;
    bottom: 0;
    top: unset;
    left: unset;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    flex-direction: column;
    transition: all .5s;
    padding-top: 10px;
    justify-content: flex-start;
    
}

footer i{
    cursor: pointer;
}

.footerIcones{
    width: 100%;
    font-size: 1.2rem;
    /* margin-top: 30px; */
    padding: 15px 0;
    /* border: 1px solid red; */

}
.footerInputBuscar{
    width: 100%;
    /* border: 1px solid white; */
    align-items: baseline;
}
.footerInputBuscar input{
    width: 50%;
    margin-top: 10px;
}

.headerIcons{
    width: 50%;
    justify-content: space-evenly;
}

/* header .headerMenu{
    position: absolute;
    left: 20px;
    transition: all .5s ease-in-out;
} */

.headerControlePrest{
    width: 100vw;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    /* cursor: pointer; */
    /* margin: 0 20px; */
}

.headerControlePrest i{
    color: #f5f7f9;
    width: 33%;
}

.headerControlePrest i{
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.headerContainerMenu{
    width: 100vw;
    height: 100vh;
    background-color: #00003b;
    position: absolute;
    left: -100vw;
    top: 0;
    transition: all .5s ease-in-out;
    opacity: 0;
    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerContainerMenu li{
    text-decoration: none;
    list-style-type: none;
    color: #eee;
    cursor: pointer;
    /* margin: 20px; */
    height: 40px;
    width: 100vw;
    text-align: center;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainerMenu li:hover{
    background-color: #777;
}

.headerMenuFechar{
    position: absolute;
    left: 43px;
    top: 17px;
    /* font-size: 1rem; */
    color: #eee;
}

main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainContainer{
    width: 100vw;
    height: 100vh;
    transition: all .5s ease-in-out;
}

#iconeEditar{
    font-size: 1.3rem;
    padding: 15px;
}

.undPrestador{
    /* border: 1px solid red; */
    width: 90vw;
    /* height: 80px; */
    background-color: #242424;
    /* background: linear-gradient(90deg, #120028 0%, #090950 50%, #120028 100%); */
    color: #ddd;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 0 ;
    margin: 15px 0;
    box-shadow: inset #aaa3 1px 1px 3px 0px,  #0003 4px 4px 7px 3px;
    transition: all .5s ease-in-out;
    justify-content: flex-start;
    overflow: hidden;
    flex-wrap: nowrap;
    cursor: pointer;
}

.cardLinha{
    width: 100%;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.gases, .gasesTh{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}
.gasesTh{
    justify-content: space-evenly;
    font-size: 1rem;
    font-weight: 700;
    align-items: center;
}

.gases:last-child{
    border-bottom: unset;
}

.gases i{
    font-size: 1.5rem;
    margin-top: 10px;
}



/* .undPrestador span:nth-child(2n+0){
    margin-top: 5px;
    font-size: 1.2rem;
} */

.undPrestRows{
    flex-direction: column;

    width: 100%;
    justify-content: space-around;
    /* align-items: flex-end; */
    /* border: 1px solid black; */
    margin: 5px 0;
    border-radius: 10px;
    padding: 5px 0;
    transition: all .5s ease-in-out;
    /* background-color: rgb(195, 154, 199); */
    /* background-color:  rgba(0, 0, 0, 0.2); */


}
.undPrestador:last-child{
    /* background-color: red; */
    margin-bottom: 70px;
}

.undPrestRowselem{
    display: none;
}

.undPrestRows textarea{
    color: #000;
    border-radius: 5px;
    font-size: 1rem;
    width: 90%;
}

.btnEdit{
    width: 90%;
    padding: 10px 0 0 0;
    font-size: 1.3rem;
}

.undPrestRowsDivs, .undGas{
    flex-direction: column;
    width: 50%;
    /* border: 1px solid white; */
    align-items: flex-start;
    padding: 10px 10px;

}
.undPrestRowsDivs span:nth-child(2n+1){
    /* color: red; */
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}
.undPrestRowsDivs span:nth-child(2n+0){
    font-size: .8rem;
    margin: 0;
}

.undPrestadorAcoes{
    font-size: 1.5rem;
    justify-content: space-evenly;
    width: 100%;
    margin: 15px 0;
}
.undPrestadorAcoes i{
    cursor: pointer;
}

.headerControlePrest i{
    /* color: red; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconVoltar{
    color: red;
}

.undAnotacoes, .amostrarVoltar{
    display: none;
}

textarea{
    margin: 10px 0;
}




.prestadorTitulo{
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.undPrestador label{
    font-size: 1.1rem;
    margin-top: 10px;
}

.undPrestador input, .undPrestador select{
    margin: 10px 0 20px 0;
    width: 85%;
    text-align: center;
    border-radius: 7px;
    font-size: .8rem;
}


.undPrestador button{
    height: 25px;
    width: 90px;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 10px;
}

.hide{
    display: none;
    flex-direction: column;
    width: 100%;
}

#os, .os{
    width: 93%;
    margin: 0 auto;
}

#os{
    margin-top: 10px;
}

.align{
    align-items: center;
}


/* LOGIN */
.loginContainer{
    color: white;
    display: flex;
    /* background-color: #00003b; */
    /* width: 100vw;
    height: 50vh; */
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* border: 1px solid red; */
    /* padding-bottom: 15px;
    clip-path:
    polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 15px),
        0% 100%
    ); */
}

.loginContainer h2{
    padding: 30px;
}